<%= turbo_frame_tag habit_entry, class: "rounded border-solid border-2 border-stone-500 p-2 flex gap-2" do %>
  <%= habit_entry.id %>
  <div class="flex items-center">
    <%= habit_entry.duration || 5 %>
  </div>
  
  <div class="flex items-center">
    <%= habit_entry.rating %>
  </div>

  <div class="flex flex-col">
    <span class="block text-sm text-stone-300 align-self-start">Notes</span>
    <%= habit_entry.notes %>
  </div>
<% end %>
