<%= form_with model: habit_entry do |form|%>
  <div class="flex flex-col gap-1">
    <%= form.label :rating %>
    <%= form.select :rating, HabitEntryStatuses.to_tuples, {}, class: "text-black" %>
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "text-black" %>
  </div>
  <div>
    <%= form.submit "Submit", "data-action" => "click->modal#close" %>
  </div>
<% end %>
