<!DOCTYPE html>
<html>
  <head>
    <title>Hajou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="relative h-screen w-screen bg-stone-800 text-white flex-col">
    <div class="px-4">
      <header class="py-4 text-3xl font-extrabold tracking-tight">
        <div class="w-80 h-3 flex -skew-x-[37deg]">
          <div class="flex-auto bg-purple-700"></div>
          <div class="flex-auto bg-pink-700"></div>
          <div class="flex-auto bg-red-700"></div>
          <div class="flex-auto bg-orange-700"></div>
          <div class="flex-auto bg-stone-400"></div>
        </div>
        <%= link_to "Hajou", root_path %>
      </header>
      <main class="container h-100 mx-auto py-4 flex-col">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
